.toggle-info-window-container {
    position: fixed;
    z-index: 500;
    top: 50%;
    left: 240px;
    padding: 10px;
    background: #fff;
}
#toggle-icon {
    height: 25px;
    width: 25px;
}
div.w3-sidebar.closed {
   left: -240px;   
}
div.toggle-info-window-container.closed {
    left: 0px;
}