body {
    margin:0;
    padding:0;
    font-family: Arial, Helvetica, sans-serif;
}
.top-bar {
	display: grid;
    grid-template-columns: 400px auto;
    position: fixed;
    top: 0;
    width: calc(100% - 1em);
    padding: 0.5em;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.16);
    z-index: 10;
}
#map {
    position:absolute;
    top: 52px;
    right: 0;
    bottom: 0;
    left: 400px;
}
#sidebar {
    position: absolute;
	z-index: 9;
    top: 52px;
    width: 400px;
    height: calc(100% - 52px);
    overflow-y: auto;
	box-shadow: 2px 0 2px rgba(0, 0, 0, 0.16);
}
#edit-top-box {
	display: grid;
	grid-template-columns: max-content auto;
	gap: 1em;
}
#select-edit {
	width: 145px;
}
#edit-controls {
	display: grid;
	grid-template-columns: repeat(10, max-content);
	gap: 0.5em;
}
#edit-controls > button {
	padding: 0 1em;
}
.logo {
    height: 36px;
    display: block;
}
.add-data-button {
	font-size: 20px;
    font-weight: bold;
    height: 30px;
    width: 30px;
    padding: 0;
}
.input {
	background: #fff;
	padding: 0 0.5em;
	border: 2px solid #ccc;
	box-sizing: border-box;
	border-radius: 0.2em;
}
.input:disabled {
	background: #eee;
}
.input:focus {
	border: 2px solid #38f;
	box-shadow: 0px 0px 0px 3px rgba(51, 136, 255, 0.2);
	outline: none;
}
.full-input {
	width: 100%;
	padding: 0.5em;
}
.input-space {
	margin-bottom: 1em;
}
.input-prop {
	margin-bottom: 0.25em;
	margin-right: -28px;
}
.input-prop:last-of-type {
	margin-bottom: 1em;
}
button {
    background-color: #ccc;
    border: none;
    font-size: 12px;
    color: #fff;
    cursor: pointer;
    border-radius: 0.2em;
	padding: 0.75em;
}
/* TABS CODE START */
.wrapper {
	padding: 0.75em;
}
.wrapper-content {
	margin-top: 2em;
}
.wrapper-tabs {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	padding-top: 0.5em;
}
.wrapper-tabs div {
	text-align: center;
}
input[name="tabs"] {
    display: none;
}
.tab {
    padding: 0.5em 1em;
	font-size: 20px;
	font-weight: bold;
    cursor: pointer;
}
.tab-content {
    display: none;
}
input[name="tabs"]:checked+label {
	color: #38f;
	text-decoration: underline;
	text-underline-offset: 6px;
	text-decoration-thickness: 3px;
}
.wrapper:has(#tab-layers:checked) #layer-box,
.wrapper:has(#tab-edit:checked) #edit-selection-box,
.wrapper:has(#tab-analysis:checked) #analysis-box {
	display: block;
}
/* TABS CODE END */
.geojson-layer {
	padding: 0.75em;
    display: grid;
    grid-template-columns: max-content max-content max-content auto;
    align-items: center;
    gap: 0.5em;
    border: 1px solid #ccc;
    margin-top: 0.6em;
    border-radius: 0.2em;
    justify-items: end;
}
.geojson-layer.dragging {
	background: #eee;
	opacity: 0.75;
}
.style-patch {
	width:20px;
	height:20px;
}
.geojson-layer label {
	max-width: 240px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: clip;
	cursor: default;
}
.geojson-layer input[type=checkbox] {
	cursor: pointer;
	height: 16px;
    width: 16px;
}
input[type=checkbox] {
	cursor: pointer;
}
.settings-button {
	cursor: pointer;
	padding: 5px 5px 0 5px;
    border-radius: 0.2em;
}
.settings-button:hover {
	background-color: #38f;
}
.settings-button:hover circle {
	fill: #fff;
}
.property-list {
	list-style-type: none;
	padding: 0;
	margin: 0;
}
.property-list input {
	width: 100%;
    padding: 0.5em;
    margin-bottom: 1em;
}
.tri-button-box {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	gap: 0.5em;
	align-items: center;
}
.one-two-box {
	display: grid;
	grid-template-columns: 1fr 2fr;
	gap: 0.5em;
	align-items: center;
}
.bi-button-box {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 0.5em;
	align-items: center;
}
.container-header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 2em;
}
.error-message {
	color: #e74c3c;
	font-size: 12px;
}
.run-message {
	font-size: 12px;
}
.container-header h2 {
	margin: 0;
}
.close-button {
	width: 30px;
    height: 30px;
    padding: 0;
}
.delete-prop {
    padding: 0;
    position: relative;
    top: 1px;
    width: 24px;
    height: 24px;
}
fieldset {
	border: 2px solid #38f;
	border-radius: 0.2em;
	margin-bottom: 1em;
	padding: 0.75em;
}
fieldset:last-of-type {
	margin-bottom: 0;
}
legend {
	color: #38f;
}
.grid-container {
	display: grid;
	grid-template-columns: 100px auto;
    grid-gap: 1em;
    padding: 0.5em;
}
input[type=color] {
    display: block;
}
input[type=range] {
	width: 100%;
	margin-top: 6px;
}
.blue-btn {
	background-color: #38f;
}
.blue-btn:hover {
	background-color: #2776e6;
}
.green-btn {
	background-color: #2ecc71;
}
.green-btn:hover {
	background-color: #27ae60;
}
.red-btn {
	background-color: #e74c3c;
}
.red-btn:hover {
	background-color: #c93c2e;
}
.blue-btn:disabled, .green-btn:disabled, .red-btn:disabled {
    background-color: #eee;
	cursor: not-allowed;
}
.basemap-control .basemap-control-content {
	display: none;
}
.basemap-control:hover button {
	display: none;
}
.basemap-control:hover .basemap-control-content {
	display: block;
}
.basemap-control-content {
	padding: 0.5em;
	cursor: default;
}



